<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  <parameter name="browser" value="chrome"/>
<suite name="Suite1" verbose="1" >
 <listeners>
    <listener class-name="listerners.NgListener" />
</listeners>
  <test name="Test Suite 1" preserve-order="true" verbose="2" >
       
    <classes>
           <class name="module1.TestCase1" />
    </classes>
  </test>
</suite>
